{{#each this}}
<li >{{name}}</li>
{{/each}}

{{!-- <div class="card">
  <div class="card-title-top">
      <h2 class="card-title">{{name}}</h2>
  </div>
  <div class="card-body">
    <div class="card-body-info">
    <p class="card-text">Capital: {{capital}}</p>
    <p class="card-text">Population: {{population}}</p>

    <p class="card-text"><b>Languages</b></p>
    <ul class="list-group"></ul>
    {{#each languages}}
      <li class="list-group-item">{{language.name}}</li>
    {{/each}}
    </ul>
    </div>
  
    <div class="card-img">
    <img src="{{sprites.front_default}}" alt="{{name}}">
    </div>
  </div>
</div> --}}